.cofb__speakers h1 {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 40px;
    line-height: 55px;
    color: #3b537a;
    letter-spacing: -0.04em;
    margin-top: 0.5rem;
    
    display: block; /* This will put the pseudo element on its own line. */
    margin:auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #3b537a; /* This creates the border. Replace black with whatever color you want. */

    display: flex;

}

.buttons {
    display: flex;
    justify-content: center;
}

.img__spacing {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-left: 3rem;
}

.item {
    margin-left: 1rem;
    justify-content: space-between;
    /* To correctly align image, regardless of content height: */
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 800px;
}


.item img{
    width: 300px;
    height: 280px;
    background-color: grey;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 500;
}
